// Variables
$color-primary: #0000FF;
$color-secondary: #333;
$color-tertiary: #fff;

$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;

$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;

$h1-font-size: $text-large;
$h2-font-size: $text-medium;
$h3-font-size: $text-small;

// Mixins
@mixin common-styles {
  text-align: center;
  margin-bottom: $margin-medium;
}

@mixin link-styles {
  text-decoration: none;
  color: $color-primary;
  transition: color 0.2s ease;
  &:hover {
    color: darken($color-primary, 20%);
  }
}

// Global Styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

// Header Styles
header {
  @extend .common-styles;
  background-color: $color-secondary;
  color: $color-tertiary;
  padding: 1rem 0;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: $margin-medium;
  }
}

// Navigation Styles
nav {
  background-color: $color-secondary;
  padding: 1rem 0;
  a {
    @extend .link-styles;
    margin-right: $margin-small;
  }
}

// Project Styles
.project {
  margin-bottom: $margin-medium;
  a {
    @extend .link-styles;
  }
}

// About Me Section Styles
.about {
  margin-bottom: $margin-large;

  h4 {
    margin-top: $margin-medium;
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: $margin-small;
    }
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 0;
  }
  .project-container {
    flex-direction: column;
  }
  .project {
    margin-bottom: $margin-medium;
  }
}

@media screen and (max-width: 480px) {
  .profile-photo {
    width: 100%;
    height: auto;
  }
  .workplace-iframe {
    width: 100%;
    height: 200px;
  }
  .project a {
    font-size: $text-small;
  }
}

@media screen and (max-width: 320px) {
  .header {
    font-size: $text-small;
  }
  .nav a {
    font-size: $text-small;
  }
  .project h3 {
    font-size: $text-small;
  }
}
